{% extends 'blog/base.html'%}

{% block title %}{% endblock%}

{% block css %}{% endblock%}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8 blog-main mt-2">
            <h3 class=" font-italic mt-2">
                {{post.tittle}}
            </h3>

            <div class="blog-post">
                <h2 class="blog-post-title">{{post.head0}}</h2>
                <p class="blog-post-meta"> {{post.pub_date}} <a href="/shop/"> Esay Shopping</a></p>
                <div class="fb-like" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}"
                    data-layout="standard" data-action="like" data-size="large" data-show-faces="false"
                    data-share="true"></div><br>
                <p>{{post.chead0}}</p>
                <hr>

                <h2>{{post.head1}}</h2>
                <p>{{post.chead1}}</p>
                <hr>
                <h3>{{post.head2}}</h3>
                <p>{{post.chead2}}</p>

                <div class="fb-comments" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}"
                    data-numposts="5"></div>

            </div><!-- /.blog-post -->


        </div><!-- /.blog-main -->

        <aside class="col-md-4 blog-sidebar">
            <div class="p-4 mb-3 bg-light rounded">
                <h4 class="font-italic">About</h4>
                <p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus
                    sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
            </div>
            <div class="my-3 fb-share-button" data-href="http://127.0.0.1:8000/blog/blogpost/{{post.post_id}}"
                data-layout="button_count" data-size="large"><a target="_blank"
                    href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A8000%2Fblog%2Fblogpost%2F4&src=sdkpreparse"
                    class="fb-xfbml-parse-ignore">Share</a></div>


            <div class="p-4">
                <h4 class="font-italic">Elsewhere</h4>
                <ol class="list-unstyled">
                    <li><a href="#">GitHub</a></li>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                </ol>
            </div>
        </aside><!-- /.blog-sidebar -->

    </div>
</div>


{% endblock%}