{% extends 'blog/base.html'%}

{% block title %}Blog Page{% endblock%}

{% block css %}{% endblock%}

{% block body %}


<div class="container mt-4">
 
  <div class="row mb-2">
      {% for item in all_posts %}
    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">{{item.tittle}}</strong>
          <h3 class="mb-0">{{item.head0}}</h3>
          <div class="mb-1 text-muted">{{item.pub_date}}</div>
          <p class="card-text mb-auto">{{item.chead0|slice:"0:50"}}</p>
          <a href="blogpost/{{item.post_id}}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/media/{{item.thumbnail}}" class="bd-placeholder-img my-4 mx-4" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail" style="height: 180px;">
            
          </svg>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>



{% endblock %}